html
  head
    title= "trinkspruch.ch"
    link(rel="stylesheet", href="/style.css")
  body
    header
        h1="trinkspruch.ch"
    article
        if toast
          h2=toast.toast + " mit " + toast.votes + " votes"
            a(href="/vote/" + toast.id, title="Isch geil!")
              img.vote(src="/vote.png")
        else
          h2="Han leider kein Spruch für dich gfunde ¯\\_(ツ)_/¯"
        a.button(href="/")="Und no eis!"
        form(method="POST", action="/add").add
            h3="Füeg din eigne Spruch hinzue:"
            textarea(name="toast", cols="30", rows="10")
            button(type="submit").button="Prost!"
