html
  head
    title= "trinkspruch.ch"
    link(rel="stylesheet", href="/style.css")
  body
    header
        h1="trinkspruch.ch"
    article
        h2=toast
        a.button(href="/")="Und no eis!"
        form(method="POST", action="/add").add
            h3="Füeg din eigne Spruch hinzue:"
            textarea(name="toast", cols="30", rows="10")
            button(type="submit").button="Prost!"
